body {
margin: 0;

font-family: "PT Sans Narrow", Arial, sans-serif;
font-size: 14px;
line-height: 24px;
font-weight: bold;
color: #f7f4f1;
text-transform: uppercase;

background-color: #000000;
background-image: url("../img/bg.jpg");
background-position: top center;
background-repeat: no-repeat;

}

a {
  text-decoration: none;
}

/*button>>> */
.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

/*button end */

/* catalog-page>>> */
.inner-page {
  color: #000000;
  line-height: 18px;

  background-color: #f9f6f3;
  background-image: url("../img/pattern-white.png");
  background-position: 0 0;
  background-repeat: repeat;
}


.page-title {
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  list-style: none;
}
/*end of catalog page */
.main-navigation {
  font-size: 16px;
  line-height: 24px;
  background-color: black;
  color:#f7f4f1;
}

.site-navigation, .user-navigation {
  list-style: none;
}

.site-navigation a, .user-navigation a {
  color: #f7f4f1;
}

.site-navigetion a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}


.index-columns {
background-color: white;
background-image: url("../img/pattern-white.png");
background-position: 0 0;
background-repeat: repeat;
color:#000000;
}

.index-columns h2 {
  font-size: 30px;
  line-height: 42px;
  color: #000000;
}

.news-list {
  list-style: none;
}

.news-item time {
  text-transform: none;
}

.features-list {
  list-style: none;
}

.feature-item h3 {
  font-size: 30px;
  line-height: 42px;
  text-align: center;
}

.feature-item {
  text-align: center;
}

.gallery-content {
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.button {
  font: inherit;

  vertical-align: middle;
  text-transform: uppercase;
  color:#ffffff;
  background-color: black;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #663d15;
}

.appointment-item input {
  font: inherit;
  background-color: transparent;
  border: 2px solid #000101;
}

.appointment-item input:hover,
.appointment-item input:focus {
  border-color: #663d15;
}

/* modal window>>> */
.modal {
  color: #000000;

  background-color: #f8f3f0;
  background-image: url("img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.entry-form input[type="text"],
.entry-form input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}
.entry-form input:focus {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}
.forgot-password {

}
/*end of modal window */


.main-footer {
  color: #ffffff;
background-image: url("../img/pattern-dark.jpeg");
background-position: 0 0;
background-repeat: repeat;
  background-color: #212121;
}

.footer-contacts a {
  color: white;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social ul {
    list-style: none;
    text-align: center;
}
.social-button {

  color: white;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;

  background-color: #ffffff;
}

/*flex-stilization >>*/

html,
body {
  min-width: 1122px;
  min-height: 1750px;
}


.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 75px;

}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.main-header-logo {
  order: 2;
  width: 368px;
  height: 153px;

}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;

  background-color: #000000;


}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  width: 620px;
  margin: 0;
  padding: 0;

  list-style: none;

}

.user-navigation {
  width: 140px;
  margin: 0;
  padding: 0;

  list-style: none;

}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

}

.feature-item {
width: 300px;

}

.index-columns {
  display: flex;
justify-content: space-between;
    padding: 50px 80px;
    margin-bottom: 35px;

}


.news {
  width: 300px;

}

.gallery {
  width: 300px;

}

.features {
  margin-bottom: 80px;
}

.contacts {
  width: 380px;

}

.appointment {
  width: 300px;

}

.main-footer {
   margin-top: 65px;
   padding: 60px 0;

}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  margin-right: 80px;
  width: 320px;
  margin: 0;

}

.footer-social {
  width: 145px;

}

.footer-copyright {
  margin-left: auto;
  width: 150px;
  margin: 0;

}

/* flex-container >>>> */

html,
body {
  min-width: 1122px;
  min-height: 1750px;
}


.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 75px;

}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.main-header-logo {
  order: 2;
  width: 368px;
  height: 153px;

}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;

  background-color: #000000;


}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  width: 620px;
  margin: 0;
  padding: 0;

  list-style: none;

}

.user-navigation {
  width: 140px;
  margin: 0;
  padding: 0;

  list-style: none;

}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

}

.feature-item {
width: 300px;

}

.index-columns {
  display: flex;
justify-content: space-between;
    padding: 50px 80px;
    margin-bottom: 35px;

}


.news {
  width: 300px;

}

.gallery {
  width: 300px;

}

.features {
  margin-bottom: 80px;
}

.contacts {
  width: 380px;

}

.appointment {
  width: 300px;

}

.main-footer {
   margin-top: 65px;
   padding: 60px 0;

}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  margin-right: 80px;
  width: 320px;
  margin: 0;

}

.footer-social {
  width: 145px;

}

.footer-copyright {
  margin-left: auto;
  width: 150px;
  margin: 0;

}

/*flex for inner-pages >>> */

.inner-page .main-header {
  margin-bottom: 50px;
}

.inner-page .main-navigation {
  align-items: flex-start;
  flex-direction: row;
background-color: #000000;
}

.inner-page .main-header-logo {
  order: 0;
  width: 111px;
  height: 24px;
  padding: 23px 20px;
}

.inner-page .user-navigation {
  margin-left: auto;
}

.page-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}
.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.filters {
  width: 180px;
}

.catalog {
  width: 700px;

}
.catalog-columns {
  display: flex;
  justify-content: space-between;
}
.catalog-item {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;

}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}
.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.pagination-list {
  padding: 0;
  margin: 0;

  list-style: none;
margin-bottom: 25px;

}

.inner-page .main-footer {
  margin-top: 45px;
}

.product-photos {
  width: 460px;
}

.product-info {
  width: 390px;
}
